## Data Loading:

**Group members:**

- Praanshu Patel (23110249)
- Samarth Sonawane (23110317)
- Sharvari Mirge (23110298)
- Akshat Shah (23110293)

In [1]:
# Loading the dataset (Making a pandas Dataframe with each row as a country)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Important data in each file:
# Type of data: (col 2)
# - Global loctation (eg-Africa, East Mediterranean, etc.) (col 4: code and col 5: name)
# - Country name (col 7: code and col 8: name)
# Data value (col 30)
# Extra data if present: (col 12: type of data, col 13: data)
# Year of data (col 10)

# Function to load and process the dataset
def load_dataset(file_path):
    # Read the dataset
    df = pd.read_csv(file_path, encoding='UTF-8')

    # Select relevant columns and rename them
    df = df.iloc[:, [1, 3, 4, 6, 7, 9, 11, 12, 29]]
    df.columns = ['Type', 'Global_Location_Code', 'Global_Location_Name',
                  'Country_Code', 'Country_Name', 'Year', 'Data_Type', 'Data_Description', 'Value']
    

    # Convert Data_Type and Data_Description to '-' if they are NaN
    df['Data_Type'] = df['Data_Type'].fillna('-')
    df['Data_Description'] = df['Data_Description'].fillna('-')
    
    return df

In [4]:
# Folder containing the dataset files
folder_path = 'data/'

# Loading all the datasets in the folder
import os

files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
dataframes = []
for file in files:
    file_path = os.path.join(folder_path, file)
    df = load_dataset(file_path)
    dataframes.append(df)
    display(df.head())  # Display the first few rows of each dataframe

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Applicability of national motorcycle helmet la...,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,Motorcycle Occupant Type,Adult passengers,—
1,Applicability of national motorcycle helmet la...,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,Motorcycle Occupant Type,Drivers,—
2,Applicability of national motorcycle helmet la...,AMR,Americas,ATG,Antigua and Barbuda,2017,Motorcycle Occupant Type,Adult passengers,—
3,Applicability of national motorcycle helmet la...,AMR,Americas,ATG,Antigua and Barbuda,2017,Motorcycle Occupant Type,Drivers,—
4,Applicability of national motorcycle helmet la...,AFR,Africa,COM,Comoros,2017,Motorcycle Occupant Type,Adult passengers,—

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Applicability of seat-belt law to all occupants,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,-,-,No data
1,Applicability of seat-belt law to all occupants,EUR,Europe,ALB,Albania,2017,-,-,No data
2,Applicability of seat-belt law to all occupants,AFR,Africa,AGO,Angola,2017,-,-,No data
3,Applicability of seat-belt law to all occupants,AMR,Americas,ATG,Antigua and Barbuda,2017,-,-,No data
4,Applicability of seat-belt law to all occupants,AMR,Americas,ARG,Argentina,2017,-,-,No data

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Attribution of road traffic deaths to alcohol (%),EMR,Eastern Mediterranean,AFG,Afghanistan,2017,-,-,–
1,Attribution of road traffic deaths to alcohol (%),AFR,Africa,AGO,Angola,2017,-,-,–
2,Attribution of road traffic deaths to alcohol (%),SEAR,South-East Asia,BGD,Bangladesh,2017,-,-,–
3,Attribution of road traffic deaths to alcohol (%),AMR,Americas,BRB,Barbados,2017,-,-,–
4,Attribution of road traffic deaths to alcohol (%),EUR,Europe,BEL,Belgium,2017,-,-,–

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Availability of funding for national road safe...,EMR,Eastern Mediterranean,AFG,Afghanistan,2016,-,-,−
1,Availability of funding for national road safe...,AMR,Americas,ATG,Antigua and Barbuda,2016,-,-,−
2,Availability of funding for national road safe...,EUR,Europe,ARM,Armenia,2016,-,-,−
3,Availability of funding for national road safe...,EUR,Europe,AZE,Azerbaijan,2016,-,-,−
4,Availability of funding for national road safe...,AMR,Americas,BRB,Barbados,2016,-,-,−

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Blood Alcohol Concentration (BAC) limit for dr...,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,Driver Type,General population,-
1,Blood Alcohol Concentration (BAC) limit for dr...,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,Driver Type,young/novice drivers,-
2,Blood Alcohol Concentration (BAC) limit for dr...,AMR,Americas,ATG,Antigua and Barbuda,2017,Driver Type,General population,-
3,Blood Alcohol Concentration (BAC) limit for dr...,AMR,Americas,ATG,Antigua and Barbuda,2017,Driver Type,young/novice drivers,-
4,Blood Alcohol Concentration (BAC) limit for dr...,EUR,Europe,AZE,Azerbaijan,2017,Driver Type,General population,-

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Definition of drink-driving by BAC,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,-,-,No
1,Definition of drink-driving by BAC,AMR,Americas,ATG,Antigua and Barbuda,2017,-,-,No
2,Definition of drink-driving by BAC,EUR,Europe,AZE,Azerbaijan,2017,-,-,No
3,Definition of drink-driving by BAC,SEAR,South-East Asia,BGD,Bangladesh,2017,-,-,No
4,Definition of drink-driving by BAC,AFR,Africa,BEN,Benin,2017,-,-,No

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Distribution of road traffic deaths by type of...,AFR,Africa,AGO,Angola,2016,Road User Type,Other/unspecified road users,0.0
1,Distribution of road traffic deaths by type of...,AMR,Americas,ATG,Antigua and Barbuda,2016,Road User Type,Drivers/passengers of motorized 2- or 3-wheelers,0.0
2,Distribution of road traffic deaths by type of...,AMR,Americas,ATG,Antigua and Barbuda,2016,Road User Type,Other/unspecified road users,0.0
3,Distribution of road traffic deaths by type of...,AMR,Americas,BRB,Barbados,2016,Road User Type,Cyclists,0.0
4,Distribution of road traffic deaths by type of...,AFR,Africa,BWA,Botswana,2016,Road User Type,Drivers/passengers of motorized 2- or 3-wheelers,0.0

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Estimated number of road traffic deaths,WPR,Western Pacific,NIU,Niue,2021,-,-,0
1,Estimated number of road traffic deaths,EUR,Europe,MCO,Monaco,2021,-,-,0 [0-1]
2,Estimated number of road traffic deaths,WPR,Western Pacific,NRU,Nauru,2021,-,-,1 [1-1]
3,Estimated number of road traffic deaths,EUR,Europe,MLT,Malta,2021,-,-,10 [8-12]
4,Estimated number of road traffic deaths,AFR,Africa,TZA,United Republic of Tanzania,2021,-,-,10 052 [8246-11 858]

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Estimated road traffic death rate (per 100 000...,GLOBAL,Global,HKG,"China, Hong Kong Special Administrative Region",2021,-,-,0.0
1,Estimated road traffic death rate (per 100 000...,GLOBAL,Global,MAC,"China, Macao Special Administrative Region",2021,-,-,0.0
2,Estimated road traffic death rate (per 100 000...,EUR,Europe,MCO,Monaco,2021,-,-,0.0
3,Estimated road traffic death rate (per 100 000...,WPR,Western Pacific,NIU,Niue,2021,-,-,0.0
4,Estimated road traffic death rate (per 100 000...,SEAR,South-East Asia,MDV,Maldives,2021,-,-,1.3

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Existence of a national child-restraint law,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,-,-,No
1,Existence of a national child-restraint law,AMR,Americas,ATG,Antigua and Barbuda,2017,-,-,No
2,Existence of a national child-restraint law,EUR,Europe,ARM,Armenia,2017,-,-,No
3,Existence of a national child-restraint law,EUR,Europe,AZE,Azerbaijan,2017,-,-,No
4,Existence of a national child-restraint law,SEAR,South-East Asia,BGD,Bangladesh,2017,-,-,No

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Existence of a national road safety strategy,AFR,Africa,CAF,Central African Republic,2016,-,-,−
1,Existence of a national road safety strategy,EMR,Eastern Mediterranean,AFG,Afghanistan,2016,-,-,No
2,Existence of a national road safety strategy,AMR,Americas,ATG,Antigua and Barbuda,2016,-,-,No
3,Existence of a national road safety strategy,EUR,Europe,ARM,Armenia,2016,-,-,No
4,Existence of a national road safety strategy,EUR,Europe,AZE,Azerbaijan,2016,-,-,No

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Existence of a road safety lead agency,EMR,Eastern Mediterranean,AFG,Afghanistan,2016,-,-,No
1,Existence of a road safety lead agency,EUR,Europe,BEL,Belgium,2016,-,-,No
2,Existence of a road safety lead agency,AFR,Africa,CMR,Cameroon,2016,-,-,No
3,Existence of a road safety lead agency,EUR,Europe,HRV,Croatia,2016,-,-,No
4,Existence of a road safety lead agency,EUR,Europe,DNK,Denmark,2016,-,-,No

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Existence of a universal access telephone numb...,AFR,Africa,CAF,Central African Republic,2016,-,-,-
1,Existence of a universal access telephone numb...,AFR,Africa,TCD,Chad,2016,-,-,-
2,Existence of a universal access telephone numb...,EUR,Europe,MLT,Malta,2016,-,-,-
3,Existence of a universal access telephone numb...,AFR,Africa,AGO,Angola,2016,-,-,"National, multiple numbers"
4,Existence of a universal access telephone numb...,AMR,Americas,BRB,Barbados,2016,-,-,"National, multiple numbers"

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Existence of a national drink-driving law,SEAR,South-East Asia,MDV,Maldives,2017,-,-,No
1,Existence of a national drink-driving law,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,-,-,Yes
2,Existence of a national drink-driving law,EUR,Europe,ALB,Albania,2017,-,-,Yes
3,Existence of a national drink-driving law,AFR,Africa,AGO,Angola,2017,-,-,Yes
4,Existence of a national drink-driving law,AMR,Americas,ATG,Antigua and Barbuda,2017,-,-,Yes

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Existence of a national seat-belt law,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,-,-,No
1,Existence of a national seat-belt law,AMR,Americas,ATG,Antigua and Barbuda,2017,-,-,No
2,Existence of a national seat-belt law,SEAR,South-East Asia,BGD,Bangladesh,2017,-,-,No
3,Existence of a national seat-belt law,AFR,Africa,BEN,Benin,2017,-,-,No
4,Existence of a national seat-belt law,AFR,Africa,COM,Comoros,2017,-,-,No

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Existence of national speed limits,AFR,Africa,BEN,Benin,2017,-,-,No
1,Existence of national speed limits,AMR,Americas,DMA,Dominica,2017,-,-,No
2,Existence of national speed limits,AFR,Africa,GIN,Guinea,2017,-,-,No
3,Existence of national speed limits,AFR,Africa,TGO,Togo,2017,-,-,No
4,Existence of national speed limits,WPR,Western Pacific,VUT,Vanuatu,2017,-,-,No

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Law requires helmet to be fastened,EMR,Eastern Mediterranean,AFG,Afghanistan,2017,-,-,-
1,Law requires helmet to be fastened,AMR,Americas,ATG,Antigua and Barbuda,2017,-,-,-
2,Law requires helmet to be fastened,AFR,Africa,COM,Comoros,2017,-,-,-
3,Law requires helmet to be fastened,AMR,Americas,DMA,Dominica,2017,-,-,-
4,Law requires helmet to be fastened,AMR,Americas,GUY,Guyana,2017,-,-,-

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Maximum speed limits,AFR,Africa,BEN,Benin,2017,Residence Area Type,Urban,?
1,Maximum speed limits,AFR,Africa,COM,Comoros,2017,Residence Area Type,Urban,?
2,Maximum speed limits,AMR,Americas,DMA,Dominica,2017,Residence Area Type,Urban,?
3,Maximum speed limits,AFR,Africa,GIN,Guinea,2017,Residence Area Type,Urban,?
4,Maximum speed limits,AMR,Americas,HND,Honduras,2017,Residence Area Type,Urban,?

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Seat-belt wearing rate (%),EMR,Eastern Mediterranean,AFG,Afghanistan,2017,Seat Type,All occupants,NaN
1,Seat-belt wearing rate (%),EMR,Eastern Mediterranean,AFG,Afghanistan,2017,Seat Type,Drivers only,NaN
2,Seat-belt wearing rate (%),EMR,Eastern Mediterranean,AFG,Afghanistan,2017,Seat Type,Front seat,NaN
3,Seat-belt wearing rate (%),EMR,Eastern Mediterranean,AFG,Afghanistan,2017,Seat Type,Rear seat,NaN
4,Seat-belt wearing rate (%),AMR,Americas,ATG,Antigua and Barbuda,2017,Seat Type,All occupants,NaN

,Type,Global_Location_Code,Global_Location_Name,Country_Code,Country_Name,Year,Data_Type,Data_Description,Value
0,Vehicle standards,EMR,Eastern Mediterranean,AFG,Afghanistan,2016,Vehicle standards,Child seats,No
1,Vehicle standards,EMR,Eastern Mediterranean,AFG,Afghanistan,2016,Vehicle standards,Electronic stability control,No
2,Vehicle standards,EMR,Eastern Mediterranean,AFG,Afghanistan,2016,Vehicle standards,Frontal impact,No
3,Vehicle standards,EMR,Eastern Mediterranean,AFG,Afghanistan,2016,Vehicle standards,Motorcycle,No
4,Vehicle standards,EMR,Eastern Mediterranean,AFG,Afghanistan,2016,Vehicle standards,Pedestrian protection,No

## Get summary of any country

In [7]:
# merge all the dfs
df = pd.concat(dataframes, ignore_index=True)
# save the data in csv file
df.to_csv('merged_dataset.csv', index=False)

In [25]:
from IPython.display import IFrame
import subprocess
import time

# Run the Streamlit app
subprocess.Popen(["streamlit", "run", "app.py"])

# Give Streamlit a few seconds to start
time.sleep(5)

# Display inside notebook (port must match the one Streamlit uses)
IFrame(src='http://localhost:8501', width=1200, height=720)

  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8518
  Network URL: http://10.7.11.67:8518

## Deaths vs. Laws
### Scatterplots:

Death rate vs. helmet/seatbelt law presence.

Death rate vs. drink driving laws.

### Boxplots:

Compare death rates in countries with vs without specific laws.

### Correlation Heatmap:

Between death rate, BAC limit, and existence of safety laws.

## Draw Interesting Observations
**Examples:**

Countries with comprehensive road safety strategies tend to have 30% lower death rates on average.

X% of countries still don’t have universal child restraint laws.

Despite helmet laws, Country A has high motorcycle deaths — suggesting poor enforcement.